<h1>CS 505 Final Project</h1>

<div id="controls">
  <p>
    <button id="on-off-button">Start sending messages</button>
  </p>
  <p>
    Send a message every
    <input type="number" value="2" id="rate"></input> seconds
    with payloads ranging from
    <input type="number" value="1" id="min-patients"></input> to
    <input type="number" value="10" id="max-patients"></input> patients.
  </p>
</div>
<div id="log">
</div>
